@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");
:root {
  --blue: #1085eb;
  --black: #0d0d0f;
  --white: #eff2f5;
}

body {
  font-family: "Poppins";
  margin: 0;
  color: var(--white);
  background-color: var(--black);
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #ffffff;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: 600;
}

.header .logo {
  color: var(--black);
  font-size: 24px;
  line-height: 2;
  text-decoration: none;
}

.header .ino {
  color: var(--blue);
}

.header .buttons {
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 16px;
}

.header .buttons .btEntrar,
.header .buttons .btRegistar {
  font-size: 14px;
  background-color: white;
  color: var(--blue);
  border-radius: 25px;
  padding: 4px 10px;
  border: 2.5px solid var(--blue);
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .buttons .btEntrar:hover,
.header .buttons .btRegistar:hover {
  background-color: var(--blue);
  color: var(--white);
}

main {
  padding: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 64px;
}

#myVideo {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.weather {
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: block;
  padding: 24px;
  text-shadow: 12px 12px 12px #00000020;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  color: var(--white);
  font-size: 20px;
  -webkit-box-shadow: 12px 12px 12px #00000020;
          box-shadow: 12px 12px 12px #00000020;
}

.weather .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 24px;
}

.weather .row #temp {
  font-size: 110px;
  line-height: 1;
  font-weight: 600;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.weather .row #icon_weather {
  font-size: 48px;
  color: var(--white);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.weather .row #temp:hover {
  -webkit-text-stroke: 4px var(--white);
  color: transparent;
  cursor: pointer;
}

.weather #city {
  font-size: 48px;
  font-weight: 600;
  line-height: 2;
  margin: 0;
  padding: 0;
}

.weather #hour {
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.weather #date {
  font-size: 20px;
  line-height: 1;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.weather .other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 16px;
  gap: 8px;
  line-height: 0;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.8);
}

.weather #icon {
  line-height: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 16px;
}

.history {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
}

.history ol {
  margin: 0;
  padding: 0;
}

.history li {
  margin: 24px;
  margin-bottom: 0;
  list-style-type: none;
}
/*# sourceMappingURL=style.css.map */